<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/wellcome" style="color: white">HelpDys</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkInformacion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-question-circle"></i> Información
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/informacion/1">¿Qué es la Dislexia?</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/informacion/2">PRODISLEX</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/informacion/3">Adaptaciones generales para alumnos</a><div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/informacion/4">Adaptaciones generales para examenes</a><div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/informacion/5">7 Pasos para detectar la Dislexia</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkJuegos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fab fa-playstation"></i> Juegos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/general/juegos/ahorcado">Ahorcado</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/general/juegos/memoria">Memoria</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/general/videos"> <i class="fab fa-youtube"></i> Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/general/cuentos"><i class="fas fa-book-open"></i> Cuentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/general/imagenes"><i class="fas fa-images"></i> Imagenes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""> <i class="far fa-file-alt"></i> Test</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registro"><i class="fas fa-users-cog"></i> Registrarse</a>
    </li>
  </ul>
</nav>
