
.borde{
  border-style: solid;
  border-width: 1px;
  border-color: #47d921;
}


.borde:hover{
  border-color: #4f60ff;
}

.contenedor {
  text-align: center;
  cursor:pointer;
}
.contenedor:hover{
  border-color: saddlebrown;


}
.contenedor1 {
  text-align: center;
  background-color: #a2c6e7;
  cursor:pointer;
}
h2{
  color: #292929;
}


