<app-menu-estudiantes></app-menu-estudiantes>
<body>
<div class="card-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3 opacity" align="center" style="margin-top: 5%">
        <h2>Adaptaciones Generales para Examenes</h2>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" >
      <div class="card mb-3 opacity"  style="margin-left: 5%">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="card-body">
              <h4>
                <p align="justify" style="font-size: 16px">
                  Debemos recordar siempre que no existirán dos casos idénticos y que por lo tanto,
                  la adaptación del examen deberá ser revisada, con anterioridad con el alumnado,
                  teniendo como referente el Protocolo de Actuación en Dislexia (PRODISLEX)</p></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="card mb-3 opacity"  style="max-width: 700px; height: 350px; margin-top: 20px">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="card-body">
              <h6>
                <p align="justify">
                <li>Antes de empezar crear un clima de confianza.</li>
                <br>
                <li>Que no se den dos exámenes en la misma fecha.</li>
                <br>
                <li>Que la tipografía sea clara y el interlineado un poco mayor.</li>
                <br>
                <li>Que el profesor pueda leer en voz alta las preguntas.</li>
                <br>
                <li>Poder usar el ordenador, si se domina la escritura con teclado.</li>
                <br>
                <li>Permitir el uso del corrector ortográfico y calculadora.</li>
                <br>
                <li>Las preguntas deben ser lo más precisas posibles</li>
                <br>
                <li>Poder utilizar varios formatos de preguntas y respuestas.</li>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="card mb-3 opacity"  style="max-width: 700px; height: 350px; margin-top: 20px">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="card-body">
              <h6>
                <li>Proporcionar una explicación si ha habido una mala comprensión a la hora de leer la pregunta.</li>
                <br>
                <li>En las preguntas, resaltar en negrita, la palabra clave.</li>
                <br>
                <li>No formular dos preguntas en una sola.</li>
                <br>
                <li>Dejar un espacio en blanco, debajo de cada pregunta para responder.</li>
                <br>
                <li>Permitir el uso de letra ligada o mayúscula.</li>
                <br>
                <li>Poder complementar la respuesta con algún dibujo o esquema.</li>
                <br>
                <li>Tener en cuenta el material alternativo: cuaderno, proyecto, etc.</li>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
