<app-menu-estudiantes></app-menu-estudiantes>
<body>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-3 opacity"  style="max-width: 350px; height: 350px; margin-top: 30px">
          <div class="row no-gutters">
            <div class="col-md-12">
              <div class="card-body">
                <h3 class="card-title" align="center"><b>Información</b></h3>
                <p class="card-text" align="justify">En este módulo encontrará información relevante sobre la
                  Dislexia formas de tratar, evaluar, etc.</p>
                <a class="dropdown-item" routerLink="/Informacion/Dislexia1"><b>¿Qué es la Dislexia?</b></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/Informacion/Dislexia4"><b>Adaptaciones generales para
                  estudiantes</b>
                </a><div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/Informacion/Dislexia4"><b>Adaptaciones generales para examenes</b>
                </a><div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/Informacion/Dislexia5"><b>7 Pasos para detectar la Dislexia</b>
                </a><div class="dropdown-divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-3 opacity" style="max-width: 350px; height: 350px; margin-top: 30px">
          <div class="row no-gutters">
            <div class="col-md-12">
              <div class="card-body">
            <h3 class="card-title" align="center"><b>Prediagnostico</b></h3>
            <p class="card-text" align="justify">El módulo le permite realizar un test para determinar el nivel y
              tipo de dislexia que tiene el estudiante:</p>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia1"><i class="fas fa-sort-numeric-up"></i><b> Test
              Completo</b></a>
            <div class="dropdown-divider"></div>
          </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-3 opacity"  style="max-width: 350px; height: 350px; margin-top: 30px">
          <div class="row no-gutters">
            <div class="col-md-12">
              <div class="card-body">
                <h3 class="card-title" align="center"><b>Tratamiento</b></h3>
                <p class="card-text" align="justify">El módulo contiene recursos didacticos para ayudar a mejorar la
                  dislexia que se encuentra presente en los niños:</p>
                <a class="dropdown-item" routerLink="/tratamiento/cuentos"><i class="fas fa-book-open"></i><b> Cuentos</b></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/Tratamiento/Juegos"> <i class="fab fa-playstation"></i><b> Juegos</b></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/estudiante/videos"><i class="fab fa-youtube"></i><b> Videos</b></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/estudiante/imagenes"><i class="fas fa-images"></i><b> Imagenes</b></a>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
