<app-menu-estudiantes></app-menu-estudiantes>
<body>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="card mb-3 opacity"  style="max-width: 540px; height: 336px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-10">
          <div class="card-body">
            <h3 class="card-title" align="center">Información</h3>
            <p class="card-text" align="justify">En este módulo encontrará información relevante sobre la dislexia formas de tratar, evaluar, etc.</p>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia1">¿Qué es la Dislexia?</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia4">Adaptaciones generales para estudiantes</a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia4">Adaptaciones generales para examenes</a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia5">7 Pasos para detectar la Dislexia</a>
            <div class="dropdown-divider"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="card mb-3 opacity" style="max-width: 540px; height: 336px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-10">
          <div class="card-body">
            <h3 class="card-title" align="center">Prediagnostico</h3>
            <p class="card-text" align="justify">El módulo le permite realizar un test para determinar el nivel y tipo de dislexia que tiene el estudiante:</p>

            <a class="dropdown-item" routerLink="/Informacion/Dislexia1"> <i class="fas fa-sort-numeric-up"></i> Test Completo</a>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="card mb-3 opacity"  style="max-width: 540px; height: 336px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-10">
          <div class="card-body">
            <h3 class="card-title" align="center">Tratamiento</h3>
            <p class="card-text" align="justify">El módulo contiene recursos didacticos para ayudar a mejorar la dislexia que se encuentra presente en los niños:</p>

            <a class="dropdown-item" routerLink="/tratamiento/cuentos"><i class="fas fa-book-open"></i> Cuentos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/Tratamiento/Juegos"> <i class="fab fa-playstation"></i> Juegos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/estudiante/videos"><i class="fab fa-youtube"></i> Videos</a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/estudiante/imagenes"><i class="fas fa-images"></i> Imagenes</a><div class="dropdown-divider"></div>
             </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
