<app-menu-estudiantes></app-menu-estudiantes>
<body>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Calificaciones del Estudiante</h3>

        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Detalle</th>
                <th scope="col">Materia</th>
                <th scope="col">Calificacion</th>
                <th scope="col">Accion</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let estudiante1 of aux">
                <th scope="row">{{estudiante1.tipo}}</th>
                <td>{{estudiante1.detalle}}</td>
                <td>{{estudiante1.materia}}</td>
                <td>{{estudiante1.calificacion}}</td>
                <td>Imprimir</td>
              </tr>

              </tbody>
            </table>

          </div>
          <div class="col-sm-2"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
</body>
