<app-menu-general></app-menu-general>
<div class="card bg-light" align="center">
  <h1>
    Adaptaciones Generales para Examenes
  </h1>
</div>
<div align="center">
  <img src="/assets/imagenes/adaptacion01.jpg" width="500" height="400">
  <br/><br/>
</div>
<div class="row">
  <div class="col-sm-1 " ></div>
  <div class="col-sm-10" >
    <div class="jumbotron mt-3" align="center">
      <h3>Ideas a la hora de adaptar un Examen Escrito</h3>
      <h4>
        <p align="justify">
          Debemos recordar siempre que no existirán dos casos idénticos y que por lo tanto,
          la adaptación del examen deberá ser revisada, con anterioridad con el alumnado,
          teniendo como referente el Protocolo de Actuación en Dislexia (PRODISLEX)
        </p>
      </h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 ">
    <div class="jumbotron mt-3" align="center">
      <h4>
        <p align="justify">
        <li>	Antes de empezar crear un clima de confianza.</li>
        <br>
        <li>	Que no se den dos exámenes en la misma fecha.</li>
        <br>
        <li>Que la tipografía sea clara y el interlineado un poco mayor.</li>
        <br>
        <li>Que el profesor pueda leer en voz alta las preguntas.</li>
        <br>
        <li>Poder usar el ordenador, si se domina la escritura con teclado.</li>
        <br>
        <li>Permitir el uso del corrector ortográfico y calculadora.</li>
        <br>
        <li>Las preguntas deben ser lo más precisas posibles</li>
        <br>
        <li>Poder utilizar varios formatos de preguntas y respuestas(tipo test; verdadero/ falso, …)</li>
        <br>
        <li>Proporcionar una explicación si ha habido una mala comprensión a la hora de leer la pregunta.</li>
        <br>
        <li>En las preguntas, resaltar en negrita, la palabra clave.</li>
        <br>
        <li>	No formular dos preguntas en una.</li>
        <br>
        <li>Dejar un espacio en blanco, debajo de cada pregunta para responder.</li>
        <br>
        <li>	Permitir el uso de letra ligada o mayúscula.</li>
        <br>
        <li>	Poder complementar la respuesta con algún dibujo o esquema.</li>
        <br>
        <li>	Tener en cuenta el material alternativo (cuaderno, proyecto, trabajos, exposiciones orales)</li>
        </p></h4></div>
  </div>
</div>
