
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e2d5c2" >
  <a class="navbar-brand" routerLink="/profesor/wellcome">HelpDys</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: #111111" href="#" id="navbarDropdownMenuLinkInformacion"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-question-circle"></i> Información
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/Informacion/Dislexia1">¿Qué es la Dislexia?</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/Informacion/Dislexia2">PRODISLEX</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/Informacion/Dislexia3">Adaptaciones generales para niños</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/Informacion/Dislexia4">Adaptaciones generales para examenes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/Informacion/Dislexia5">7 Pasos para detectar la Dislexia</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: #0a0a0a" href="#" id="navbarDropdownMenuLinkEstudiante"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-child"></i> Estudiante </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/profesor/calificacion"> <i class="fas fa-sort-numeric-up"></i>
            Calificaciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/profesor/nuevo/estudiante"> <i class="fas fa-child"></i>
            Nuevo Estudiante</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/profesor/estudiantes"><i class="fas fa-list-ul"></i>
            Lista</a>
        </div>
      </li>
      <li class="nav-item" >
        <a class="nav-link" style="color: #0a0a0a" routerLink="/profesor/agenda"><i class="fas fa-calendar-week"></i> Agenda</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">

    <li class="nav-item dropdown" >
      <a class="nav-link dropdown-toggle" style="color: #0a0a0a" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{this.global.apiUrl}}/public/users/{{usuario?.nombreFoto}}" >
        {{usuario?.nombre}}
        {{usuario?.apellido}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/profesor/informacion">Información</a>
        <a class="dropdown-item" routerLink="/profesor/informacion/actualizar">Actualizar</a>
      </div>
    </li>
    <li class="nav-item" >
      <a class="nav-link" style="color: #0a0a0a" href="/tesis/login">Salir</a>
    </li>
  </ul>
</nav>
