@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: #1e73b8; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #2330b8, #437dc2);
  background: -moz-linear-gradient(right, #2a54b8, #1b36c2);
  background: -o-linear-gradient(right, #2a54b8, #1b36c2);
  background: linear-gradient(to left, #2a54b8, #1b36c2);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('src/assets/fondos/foto_fondo1_01.jpg');
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Numans', sans-serif;
}

.opacity{
  opacity:0.8; /* Opacidad 60% */
}


*{
  font-family: 'Montserrat', sans-serif;
}


.container {
  display: block;
  position: relative;
}
.container::after {
  content: "";
  bottom: 0;
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.intentos{
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  width: 300px;
  margin: 0 auto;
}
.mesa-cartas{
  padding: 10px;
}
img.img-card:hover {
  position: relative;
  top: -7px;
}
img.img-card {
  padding: 5px;
}
