<body>
<div class="wrap-login100">
  <form class="login100-form validate-form">
    <span class="login100-form-title"><img  src="../../assets/logos/HelpDys.jpeg" height="130px"></span>
    <br>
    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
      <input class="input100" type="text" name="usuario" placeholder="Nick" [(ngModel)]="usuario" required
             #emailInput="ngModel"/>
      <div class="alert alert-warning" role="alert" *ngIf="emailInput.dirty && emailInput.errors">
        <p *ngIf="emailInput.errors.required">Campo requerido</p>
      </div>
      <span class="focus-input100"></span>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
      <input class="input100" type="password" placeholder="Password" [(ngModel)]="contrasena" name="contrasena"
             required #loginInput="ngModel">
      <div class="alert alert-warning" role="alert" *ngIf="loginInput.dirty && loginInput.errors">
        <p *ngIf="loginInput.errors.required">Campo requerido</p>
      </div>
    </div>
    <div class="container-login100-form-btn">
      <button class="login100-form-btn" (click)="seleccionPerfil()" [(ngModel)]="boton1" #boton="ngModel"
              (valid)="boton1==true">Ingreso
      </button>
    </div>
    <div class="text-center p-t-46 p-b-20">
      <div style="line-height:70pt;">
        <a  class="bg-light" routerLink="/wellcome">Ingreso sin Registro</a> ||
        <a class="bg-light" routerLink="/registro">Registro</a>
      </div>
    </div>
  </form>
  <div class="login100-more" style="background-image: url('../../assets/fondos/imagencali6.jpg');">
  </div>
</div>
</body>




