<audio src="/assets/audios/carrusel.mp3" autoplay></audio>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron mt-3" align="center">
    <h1>Selecciona el tipo de recurso a utilizar</h1>
    </div>
  </div>
</div><br>
<br>
<br>
<br>

<div class="content-all">
  <div class="content-carrousel">
    <figure><a routerLink="/Tratamiento/Cuentos"><img src="/assets/imagenes/cuentos.gif"></a></figure>
    <figure><a routerLink="/Tratamiento/Videos"><img src="/assets/imagenes/videos.jpeg"></a></figure>
    <figure><a routerLink="/Tratamiento/Juegos"><img src="/assets/imagenes/juegos.png"></a></figure>
    <figure><a routerLink="/Tratamiento/Imagenes"><img src="/assets/imagenes/paisaje.jpeg"></a></figure>
  </div>
</div>
