<app-menu-general></app-menu-general>
<body>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="card mb-3 opacity"  style="max-width: 600px; height: 400px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title" align="center"><b>Información</b></h3>
            <p class="card-text" align="justify">En este módulo encontrará información relevante
              sobre la dislexia formas de tratar, evaluar, etc.</p>
            <a class="dropdown-item" routerLink="/informacion/1"><b>¿Qué es la Dislexia?</b></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/informacion/3"><b>Adaptaciones generales para estudiantes</b></a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/informacion/4"><b>Adaptaciones generales para examenes</b></a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/informacion/5"><b>7 Pasos para detectar la Dislexia</b></a>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div class="col-sm-4">
    <div class="card mb-3 opacity"  style="max-width: 540px; height: 400px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title" align="center"><b>Tratamiento</b></h3>
            <p class="card-text" align="justify">El módulo contiene recursos didácticos para
              ayudar a mejorar la dislexia que se encuentra presente en los niños:</p>

            <a class="dropdown-item" routerLink="/general/cuentos"><i class="fas fa-book-open"></i> <b>Cuentos</b></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/general/juegos/ahorcado"> <i class="fab fa-playstation"></i> <b>Ahorcado</b></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/general/juegos/memoria"> <i class="fab fa-playstation"></i> <b>Memoria</b></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/general/videos"><i class="fab fa-youtube"></i> <b>Videos</b></a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/general/imagenes"><i class="fas fa-images"></i> <b>Imagenes</b></a><div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</body>

