<app-menu-general></app-menu-general>
<body>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="card mb-3 opacity"  style="max-width: 600px; height: 400px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-10">
          <div class="card-body">
            <h3 class="card-title" align="center">Información</h3>
            <p class="card-text" align="justify">En este módulo encontrará información relevante sobre la dislexia formas de tratar, evaluar, etc.</p>
            <a class="dropdown-item" routerLink="/informacion/1">¿Qué es la Dislexia?</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/informacion/3">Adaptaciones generales para estudiantes</a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/informacion/4">Adaptaciones generales para examenes</a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/informacion/5">7 Pasos para detectar la Dislexia</a>
            <div class="dropdown-divider"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">

    <div class="card mb-3 opacity"  style="max-width: 540px; height: 400px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-10">
          <div class="card-body">
            <h3 class="card-title" align="center">Tratamiento</h3>
            <p class="card-text" align="justify">El módulo contiene recursos didacticos para ayudar a mejorar la dislexia que se encuentra presente en los niños:</p>

            <a class="dropdown-item" routerLink="/general/cuentos"><i class="fas fa-book-open"></i> Cuentos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/general/juegos/ahorcado"> <i class="fab fa-playstation"></i> Ahorcado</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/general/juegos/memoria"> <i class="fab fa-playstation"></i> Memoria</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/general/videos"><i class="fab fa-youtube"></i> Videos</a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/general/imagenes"><i class="fas fa-images"></i> Imagenes</a><div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
  </div>
</div>
</body>

