<app-menu-profesores></app-menu-profesores>
<body>
<div class="card-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3 opacity" align="center" style="max-width: 1400px; height: 40px; margin-top: 0px">
        <h3>Lista de Estudiantes</h3>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card mb-3 opacity" align="center" style="max-width: 1400px; height: 400px; margin-top: 0px">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Foto</th>
          <th scope="col">Cédula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Nick</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let estudiante of aux">
          <th scope="row"><img src="{{this.globales.apiUrl}}/public/users/{{estudiante.nombreFoto}}" height="70px"
                               width="70px"></th>
          <td >{{estudiante.cedula}}</td>
          <td>{{estudiante.nombre}} {{estudiante.apellido}}</td>
          <td>{{estudiante.nick}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</body>
