<app-menu-estudiantes></app-menu-estudiantes>
<div class="jumbotron" style="  height: 50px" align="center">
  <h3>¿Qué es la DISLEXIA?</h3>
</div>
<div align="center">
  <img src="/assets/imagenes/Qdislexia.jpg" width="200" height="150">
  <br/><br/>
</div>
<div class="row">
  <div class="col-sm-1 " ></div>
  <div class="col-sm-10" >
    <div class="jumbotron" align="center">
      <h6>
        <p align="justify" style="font-size: 16px">
          La dislexia es un trastorno del aprendizaje de la lectoescritura,
          de carácter persistente y específico, que se da en niños/as que no
          presentan ningún hándicap físico, psíquico ni sociocultural y cuyo
          origen parece derivar de una alteración del neuro-desarrollo.
          Los disléxicos manifiestan de forma característica dificultades
          para recitar el alfabeto, denominar letras, realizar rimas simples
          y para analizar o clasificar los sonidos. Además, la lectura se
          caracteriza por las omisiones, sustituciones, distorsiones,
          inversiones o adicciones, lentitud, vacilaciones, problemas de
          seguimiento visual y déficit en la comprensión, (OPS, 1997).
          El principal problema que tiene la dislexia es que no es compatible
          con nuestro sistema educativo, pues, dentro de este, todos los aprendizajes
          se realizan a través del código escrito, por lo cual el niño disléxico
          no puede asimilar ciertos contenidos de materias como Conocimiento del Medio,
          porque no es capaz de llegar a su significado a través de la lectura.
          El niño/a disléxico debe poner tanto esfuerzo en las tareas de lectoescritura
          que tiende a fatigarse, a perder la concentración, a distraerse y a rechazar
          este tipo de tareas. Los padres y profesores procesamos esta conducta como
          desinterés y presionamos para conseguir mayor esfuerzo, sin comprender que estos niños,
          realizando estas tareas, se sienten como si de repente, cualquiera de nosotros,
          nos viéramos inmersos en una clase de escritura china.
          La dislexia, es mucho más que tener dificultades en la lectura y en la escritura,
          ya que existen problemas de compresión, de memoria a corto plazo, de acceso al léxico,
          confusión entre la derecha y la izquierda, dificultades en las nociones
          espacio-temporales…debemos tener en cuenta que no existen dos disléxicos
          idénticos y por tanto cada caso es único y no tiene por qué presentar la totalidad de los síntomas.

        </p>
      </h6>
    </div>
  </div>
</div>
