<app-menu-estudiantes></app-menu-estudiantes>
<div class="card bg-light" style="height: 70px" align="center">
  <h3>
    Adaptaciones generales para alumnos con Dislexia
  </h3>
</div>
<div align="center">
  <img src="/assets/imagenes/adaptaciones.jpg" width="200" height="150">
  <br/><br/>
</div>
<div class="row">
  <div class="col-sm-1 " ></div>
  <div class="col-sm-10" >
    <div class="jumbotron" align="center">
      <h6>
        <p align="justify">
          Adaptaciones  generales no significativas, para el día a día en el aula,
          para el alumnado con DEA (Dislexia, Disgrafia, Disortografia y Discalculia)
          Las adaptaciones no significativas (metodológicas y o de acceso) son las que
          permite al alumno poder ver los mismos contenidos que el resto del grupo,
          pero poder acceder a esos contenidos y demostrar lo que se sabe sobre ellos,
          de forma distinta, con el objetivo de que el alumno se posicione en igualdad
          de condiciones a la hora de aprender y demostrar lo aprendido.
        </p>
      </h6>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 ">
    <div class="jumbotron" align="center">
      <h6>
        <p align="justify">
        <li>Hacer saber al alumno que todo el equipo docente pondrá en marcha un plan de actuación conjunto,
          para favorecer su proceso de aprendizaje y posicionarle en igualdad de condiciones en relación a sus compañeros</li>
        <br>
        <li>Elaborar un Taller de Normalización, para poder explicar en el aula de una forma positiva, en que consiste
          su dificultad especifica de aprendizaje (dislexia, disgrafía, disortografía y discalculia).
          El objetivo es empoderar al alumno y poder trabajar la empatía con el resto del grupo, así como evitar
          malos entendidos y el acoso escolar.</li>
        <br>
        <li>Permitir el uso del ordenador, así como programas o aplicaciones informáticas especificas(lectores,
          corrector ortográfico, grabadora, traductor…)</li>
        <br>
        <li>Asegurarnos que ha habido una buena comprensión antes de empezar cualquier tarea.</li>
        <br>
        <li>Permitir más tiempo a la hora de elaborar los trabajos o reducir la cantidad.</li>
        <br>
        <li>Evaluar todas las tareas en función del contenido.</li>
        <br>
        <li>Poder utilizar letra ligada o mayúsculas.</li>
        <br>
        <li>Adecuar los libros de lectura a su nivel lector.</li>
        <br>
        <li>Potenciar una metodología multisensorial en el aula.</li>
        <br>
        <li>Trabajar los diferentes contenidos de las materias con el apoyo de recursos audiovisuales.</li>
      </h6>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

