
.borde{
  border-style: solid;
  border-width: 1px;
  border-color: #47d921;
}


.borde:hover{
  border-color: #69ff4f;
}

.contenedor {
  text-align: center;
  background-color: #edf5ee;
  cursor:pointer;
}

.contenedor1 {
  text-align: center;
  background-color: #a2c6e7;
  cursor:pointer;
}
h2{
  color: #292929;
}
h3{
  color: white;
}


