<app-menu-general></app-menu-general>
<body>
<div class="card-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3 opacity" align="center" style="max-width: 1400px; height: 40px; margin-top: 0px">
          <h2>Letras mas comunes a confundir</h2>
      </div>
    </div>
  </div>

<div class="row" align="center">
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12">
        <h1><b>b - d</b></h1>
      </div>
      <div class="col-sm-12">
        <img src="/assets/imagenes/bd.jpg" width="250" height="150">
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12">
        <h1><b>m - w</b></h1>
      </div>
      <div class="col-sm-12">
        <img src="/assets/imagenes/MW.jpg" width="250" height="150">
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12">
        <h1><b>p - q</b></h1>
      </div>
      <div class="col-sm-12">
        <img src="/assets/imagenes/pq.jpg" width="250" height="150">
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12">
        <h1><b>z - n</b></h1>
      </div>
      <div class="col-sm-12">
        <img src="/assets/imagenes/ZN.jpg" width="250" height="150">
      </div>
    </div>
  </div>

  <div class="col-sm-2"></div></div>

<div class="row" align="center">
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12">
        <h1><b>3 - e</b></h1>
      </div>
      <div class="col-sm-12">
        <img src="/assets/imagenes/3E.jpg" width="250" height="150">
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12">
        <h1><b>1 - 7</b></h1>
      </div>
      <div class="col-sm-12">
        <img src="/assets/imagenes/17.jpg" width="250" height="150">
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12">
        <h1><b>4 - 7</b></h1>
      </div>
      <div class="col-sm-12">
        <img src="/assets/imagenes/47.jpg" width="250" height="150">
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12">
        <h1><b>13 - 31</b></h1>
      </div>
      <div class="col-sm-12">
        <img src="/assets/imagenes/1331.jpg" width="250" height="150">
      </div>
    </div>
  </div>
</div>
</div>
</body>
