<app-menu-profesores></app-menu-profesores>
<div class="pageContent extended">
  <div class="container card-header" >

    <div class="row">

      <div class="col-xs-12 col-sm-4 i">
        <div class="box">
          <label>Fecha de Inicio de la Cita</label><input type="date" [(ngModel)]="fechaInicio" name="fechaInicio"
                                                          class="form-control">
          <label>Fecha de Fin de la Cita</label><input type="date" [(ngModel)]="fechaFin" name="fechaFin"
                                                       class="form-control" >
          <label>Hora de Inicio</label><input type="time" [(ngModel)]="horaInicio" name="horaInicio"
                                              class="form-control" >
          <label>Hora de Fin</label><input type="time" [(ngModel)]="horaFin" name="horaFin" class="form-control"
                                           >

          <div class="form-group">
            <mat-select matNativeControl required placeholder="Categoria" id="parametros">
              <mat-option value="valor1" (click)="categoria='Comida'">Comida
              </mat-option>
              <mat-option value="valor2" (click)="categoria='Reuniones'">
                Reuniones
              </mat-option>
              <mat-option value="valor3" (click)="categoria='Revision Tareas '">
                Revision Tareas
              </mat-option>
              <mat-option value="valor4" (click)="categoria='Viajes'">
                Viajes
              </mat-option>
              <mat-option value="valor1" (click)="categoria='Tutorias'">Tutorias
              </mat-option>

            </mat-select>
          </div>
          <div class="form-group">
            <label>Nombre</label> <input type="text" class="form-control input-group" [(ngModel)]="nombre"
                                         name="nombre">
          </div>
          <div class="form-group">
            <label>Ubicacion</label>
            <div class="input-group"><input type="text" class="form-control input-group" [(ngModel)]="ubicacion"
                                            name="ubicacion">
            </div>
          </div>
          <div class="form-group">
            <label>Detalle</label>
            <div class="input-group"><input type="text" class="form-control input-group" [(ngModel)]="detalle"
                                            name="detalle">
            </div>
          </div>
          <button class="btn btn-warning" (click)="saveAgenda()"> Guardar</button>
        </div>
      </div>
    <div class="col-xs-12 col-sm-8 i">
      <div class="box">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="btn-group">
              <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Previous
              </div>
              <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
              >
                Today
              </div>
              <div
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Next
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month"
              >
                Month
              </div>
              <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week"
              >
                Week
              </div>
              <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day"
              >
                Day
              </div>
            </div>
          </div>
        </div>
        <br />
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="CalendarView.Month"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-day-view>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
