<app-menu-profesores></app-menu-profesores>
<body>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="card mb-3 opacity"  style="max-width: 540px; height: 336px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-10">
          <div class="card-body">
            <h3 class="card-title" align="center">Información</h3>
            <p class="card-text" align="justify">En este módulo encontrará información relevante sobre la dislexia formas de tratar, evaluar, etc.</p>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia1">¿Qué es la Dislexia?</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia4">Adaptaciones generales para estudiantes</a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia4">Adaptaciones generales para examenes</a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia5">7 Pasos para detectar la Dislexia</a>
            <div class="dropdown-divider"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="card mb-3 opacity" style="max-width: 540px; height: 336px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-10">
          <div class="card-body">
            <h3 class="card-title" align="center">Estudiante</h3>
            <p class="card-text" align="justify">El módulo le permite ingresar información relevante de los estudiantes como:</p>

            <a class="dropdown-item" routerLink="/profesor/calificacion"> <i class="fas fa-sort-numeric-up"></i> Calificaciones</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/profesor/nuevo/estudiante"><i class="fas fa-plus"></i>  <i class="fas fa-child"> </i> Registro Nuevo Estudiante</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/profesor/estudiantes"><i class="fas fa-list-ul"></i> Lista</a><div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="card mb-3 opacity"  style="max-width: 540px; height: 336px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-10">
          <div class="card-body">
            <h3 class="card-title" align="center">Agenda</h3>
            <p class="card-text" align="justify">En este módulo permite visualizar citas con padres, reuniones que el profesor, registro en el calendario</p>
            <a class="dropdown-item" routerLink="/profesor/agenda">Nueva Cita</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
