<app-menu-profesores></app-menu-profesores>
<body>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row">
  <div class="col-sm-4">
    <div class="card mb-3 opacity"  style="max-width: 500px; height: 350px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title" align="center"><b>Información</b></h3>
            <p class="card-text" align="justify">En este módulo encontrará información relevante sobre la
              dislexia formas de tratar, evaluar, etc.</p>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia1"><b>¿Qué es la Dislexia?</b></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia4"><b>Adaptaciones generales para estudiantes
              </b></a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia4"><b>Adaptaciones generales para examenes</b>
            </a><div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/Informacion/Dislexia5"><b>7 Pasos para detectar la Dislexia</b></a>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card mb-3 opacity" style="max-width: 500px; height: 350px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title" align="center"><b>Estudiante</b></h3>
            <p class="card-text" align="justify">El módulo le permite ingresar información relevante de los
              estudiantes como:</p>
            <a class="dropdown-item" routerLink="/profesor/calificacion"> <i class="fas fa-sort-numeric-up"></i>
              <b> Calificaciones</b></a><div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/profesor/nuevo/estudiante"> <i class="fas fa-child"> </i>
                <b> Registro Nuevo Estudiante</b></a><div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/profesor/estudiantes"><i class="fas fa-list-ul"></i><b> Lista</b></a>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card mb-3 opacity"  style="max-width: 400px; height: 350px; margin-top: 20px">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title" align="center"><b>Agenda</b></h3>
            <p class="card-text" align="justify">En este módulo permite visualizar citas con padres, reuniones
              que el profesor, registro en el calendario</p>
            <a class="dropdown-item" routerLink="/profesor/agenda"><b>Nueva Cita</b></a>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
</body>
