<body>
<div class="card-body">
  <audio src="/assets/audios/ubica.mp3" autoplay ></audio>
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3 opacity" align="center" style="max-width: 1400px; height: 40px; margin-top: 0px">
        <h2>Ubica correctamente las vocales para formar la palabra de la imagen</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 fondoColumna">
      <div *ngIf="estado">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-1" *ngFor="let vocal of arregloVocales ; let indice=index">
            <app-vocal
              [vocal]="vocal"
              [indice1]="indice"
            ></app-vocal>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-11" align="center"><img src="{{ruta}}" height="300" width="400"><audio src="{{ruta}}"></audio></div>
        <div class="col-sm-1">
          <button id="buttonNext" class="btn btn-sm btn-link" type="submit" style="margin-top: 180px; margin-left: -35px" (click)="nextWord()">
            <img src="/assets/imagenes/btnSiguiente.png" alt="siguiente" style="width: 75px; height: 55px">
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          <div class="row">
            <div *ngIf="arregloPalabra.length >=7">
              <div class="row">
                <div class="col-sm-1" *ngFor="let p of arregloPalabra ; let indice=index">
                  <div *ngIf="estado">
                    <app-caja
                      [letra]="p"
                      [indice]="indice"
                      [indice2]="indice">
                    </app-caja>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>
            </div>

            <div *ngIf="arregloPalabra.length < 7 && arregloPalabra.length > 4">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-1" *ngFor="let p of arregloPalabra ; let indice=index">
                  <div *ngIf="estado">
                    <app-caja
                      [letra]="p"
                      [indice]="indice"
                      [indice2]="indice">
                    </app-caja>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="arregloPalabra.length < 5">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2" *ngFor="let p of arregloPalabra ; let indice=index">
                      <div *ngIf="estado">
                        <app-caja
                          [letra]="p"
                          [indice]="indice"
                          [indice2]="indice">
                        </app-caja>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" *ngIf="estadoFinalJuego" style="background: #1bcc97">
          <div class="row">
            <h4>PUNTAJE OBTENIDO {{Puntaje}}/100 ¡FELICITACIONES!</h4>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>


      <br><br><br>
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-2">
            <button id="buttonFinish" class="btn btn-primary" type="submit" style="display: none" (click)="savePuntaje()" routerLink="/DislexiaVisual"> Finalizar </button>

          </div>
        </div>
        <div class="col-sm-5"></div>
      </div>

    </div>
  </div>
</div>
</body>
