<app-menu-estudiantes></app-menu-estudiantes>
<body>
<div class="card-body">
<div class="row">
  <div class="col-sm-12">
    <div class="card mb-3 opacity" align="center" style="max-width: 1400px; height: 40px; margin-top: 0px">
      <h2>Pre Diagnóstico de Dislexia</h2>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-sm-12" >
      <div class="card mb-3 opacity"  style="margin-top: 20px">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="card-body"><h4><p align="justify" style="font-size: 18px">
              El pre diagnóstico del programa tiene una duración aproximadamente  de 25 minutos, indica si  el niño
              esta en riesgo de dislexia fonológica, dislexia profunda o dislexia superficial y visual, haciendo una
              recomendación de acudir con un especialista para que realice un diagnóstico formal y, si es necesario,
              el menor comience un tratamiento.<br><br>
              <li>La edad recomendada de uso del pre diagnostico es de 7 a 12 años</li>
              <li>Para una correcta evaluación es necesario que exista la supervisión de un docente tutor</li>
              <li>De igual manera es importante evitar distracciones hasta la finalización de la evaluación</li><br><br>
              El Pre- Diagnóstico esta basado en la aplicación Deslixate para teléfonos móviles.
              Dentro del Pre-Diagnostico se evaluarán los siguientes tipos de Dislexia:<br><br>
              <li><a>Dislexia Fonológica</a></li>
              <li><a>Dislexia Visual</a></li></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12 borde titulo fondo1" align="center"> <h3> <a routerLink="/PreDiagnostico/TestCompleto" >
          Test Completo</a></h3></div>
      </div>
    </div>
  </div>
</div>
</body>
