<app-menu-general></app-menu-general>
<div class="card bg-light" style="height: 70px" align="center">
  <h3>
    PRODISLEX (Protocolos de detección y actuación en Dislexia)
  </h3>
</div>
<div align="center">
  <img src="/assets/imagenes/prodislex2.jpg" width="200" height="150">
  <br/><br/>
</div>
<div class="row">
  <div class="col-sm-1 "></div>
  <div class="col-sm-10">
    <div class="jumbotron mt-3" align="center">
      <h6>
        <p align="justify">
          Estos protocolos han sido elaborados por un equipo de profesionales
          con la colaboración de DISFAM (Dislexia y familia) y de la UIB
          (Universidad de las Islas Baleares), así como con la supervisión
          de profesores y profesionales de la Dirección General de Innovación
          y Formación del Profesorado. Esta herramienta de trabajo tiene como
          objetivo la detección precoz, y proporcionar estrategias para
          conseguir el éxito de este tipo de alumnos, así como acceder al
          aprendizaje en igualdad de condiciones.

        </p>
      </h6>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" align="center">
    <h5>Selecciona el tipo de Protocolo a Observar</h5>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="jumbotron mt-3" align="justify">
      <div class="row contenedor ">
        <div class="col-sm-12 borde">
          <h6 (click)="mostrarComponente6 = !mostrarComponente6">
            Protocolos de Educacion Inicial
          </h6>
          <div class="col-sm-12" align="center">
            <div *ngIf="mostrarComponente6" align="center">
              <br>
              <embed src="/assets/documentos/Protocolos%20de%20detección%20y%20actuación%20en%20Dislexia-Infantil.pdf" type="application/pdf" width="100%" height="600px"/>
            </div>
          </div>
        </div>
        <div class="col-sm-12 borde">
          <h6 (click)="mostrarComponente = !mostrarComponente">
            Protocolos de Primaria 1er ciclo
          </h6>
          <div class="col-sm-12" align="center">
            <div *ngIf="mostrarComponente" align="center">
              <br>
              <embed src="/assets/documentos/Protocolos%20de%20detección%20y%20actuación%20en%20Dislexia-Primaria-1ciclo.pdf" type="application/pdf" width="100%" height="600px"/>

            </div>
          </div>
        </div>
        <div class="col-sm-12 borde">
          <h6 (click)="mostrarComponente1 = !mostrarComponente1">
            Protocolos de Primaria 2do ciclo
          </h6>
          <div class="col-sm-12" align="center">
            <div *ngIf="mostrarComponente1">
              <br>
              <embed src="/assets/documentos/Protocolos%20de%20detección%20y%20actuación%20en%20Dislexia-Primaria-2ciclo.pdf" type="application/pdf" width="100%" height="600px"/>

            </div>
          </div>
        </div>

        <div class="col-sm-12 borde">
          <h6 (click)="mostrarComponente3= !mostrarComponente3">
            Protocolos de Secundaria 1er ciclo
          </h6>
          <div class="col-sm-12" align="center">
            <div *ngIf="mostrarComponente3" align="center">
              <br>
              <embed src="/assets/documentos/Protocolos%20de%20detección%20y%20actuación%20en%20Dislexia-Secundaria-1ciclo.pdf" type="application/pdf" width="100%" height="600px"/>

            </div>
          </div>
        </div>
        <div class="col-sm-12 borde">
          <h6 (click)="mostrarComponente4 = !mostrarComponente4">
            Protocolos de Secundaria 2do ciclo
          </h6>
          <div class="col-sm-12" align="center">
            <div *ngIf="mostrarComponente4">
              <br>
              <embed src="/assets/documentos/Protocolos%20de%20detección%20y%20actuación%20en%20Dislexia-Secundaria-2ciclo.pdf" type="application/pdf" width="100%" height="600px"/>

            </div>
          </div>

        </div>
        <div class="col-sm-12 borde">
          <h6 (click)="mostrarComponente5 = !mostrarComponente5">
            Protocolos de Bachillerato
          </h6>
        </div>
        <div class="col-sm-12" align="center">
          <div *ngIf="mostrarComponente5">
            <br>
            <embed src="/assets/documentos/Protocolos%20de%20detección%20y%20actuación%20en%20Dislexia-Bachillerato.pdf" type="application/pdf" width="100%" height="600px"/>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

