<app-menu-profesores></app-menu-profesores>
<body>
<div class="card-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3 opacity" align="center" style="max-width: 1400px; height: 40px; margin-top: 0px">
        <div class="card bg-light" style="height: 50px" align="center">
          <h2>7 pasos para detectar la Dislexia</h2>
        </div>
      </div>
    </div>
  </div>

  <!--<div align="center">
    <img src="/assets/imagenes/7pasos.jpg" width="300" height="200">
    <br/><br/>
  </div>-->
  <div class="row">
    <div class="col-sm-1 " ></div>
    <div class="col-sm-10" >
      <div class="jumbotron" align="center">
        <h6>
          <p align="justify">
            La Dislexia, actualmente afecta en mayor o menor número a un 10% o un 15% de la población adulta y escolar.
            Datos específicos consideran que las mujeres, en general, tienen un mayor desarrollo en el área del lenguaje que los hombres. La no detección y análisis precoz de los niños con dislexia puede ser un factor de fracaso escolar.
            No es de extrañar que uno de cada 25 alumnos presente síntomas de dislexia. Pero, ¿cómo la podemos detectar? La gran pregunta que muchos de nosotros tratamos de responder. Hoy os presentamos 7 pasos que os ayudarán a saber si vuestro niño/a padece este trastorno:
          </p>
        </h6>
        <h5>1. Problemas de comprensión lectora y de escritura</h5>
        <h6>
          <p align="justify">
          <li>Hace sustituciones, inversiones, omisiones y/o adiciones de letras o palabras.</li>
          <li>Cuando escribe no entendemos nada.</li>
          <li>La ortografía y la fonética es inconstante.</li>
          <li>Cuando escribe hace mucha presión sobre el papel.</li>
          <li>Confunde unas letras con otras y cambia y sustituye las sílabas de las palabras.</li>
          <li>Lee sin comprender lo que está leyendo.</li>
          <li>Es frecuente que se “coma” palabras cuando lee o las repita sin ser consciente de ello.</li>
        </h6>
        <h5>2. Problemas con las matemáticas</h5>
        <h6>
          <p align="justify">
          <li>Utiliza los dedos para hacer operaciones.</li>
          <li>Le cuesta manejar bien el dinero.</li>
          <li>Dificultades para comprender el tiempo y las posibles tareas planeadas.</li>
        </h6>
        <h5>3. Problemas con la memoria, cognición y lenguaje</h5>
        <h6>
          <p align="justify">
          <li>Suele utilizar imágenes, iconos y sentimientos en lugar de sonidos y palabras.</li>
          <li>Tiene una excelente memoria a largo plazo (experiencias, lugares, caras).</li>
          <li>Muy mala memoria para recordar lo que aprendió el día anterior.</li>
          <li>Se distrae muy fácilmente con los sonidos.</li>
          <li>Cuando habla lo hace con frases entrecortadas e incompletas. No pronuncia bien y a veces tartamudea.</li>
        </h6>
        <h5>4. Problemas de coordinación psicomotriz</h5>
        <h6>
          <p align="justify">
          <li>Presenta dificultades en habilidades motoras (le cuesta atar los cordones de los zapatos).</li>
          <li>Tiene poco equilibrio.</li>
          <li>Tiene dificultades de coordinación sobretodo en actividades físicas, lúdicas, etc.</li>
          <li>Si hace movimientos fácilmente se marea.</li>
          <li>Puede ser ambidiestro y con frecuencia confunde la izquierda de la derecha o el arriba del abajo.</li>
        </h6>
        <h5>5. Problemas con la visión</h5>
        <h6>
          <p align="justify">
          <li>Tiene problemas de vista y oído.</li>
          <li>Destaca por su capacidad de observación y agudeza visual.</li>
        </h6>
        <h5>6. Problemas de personalidad</h5>
        <h6>
          <p align="justify">
          <li>Es desordenado, compulsivo y perfeccionista.</li>
          <li>Son frecuentes los cambios de humor. Emocionalmente es muy sensible.</li>
          <li>Es curioso y creativo.</li>
        </h6>
        <h5>7. Problemas de salud</h5>
        <h6>
          <p align="justify">
          <li>Propenso a las infecciones del oído.</li>
          <li>Sueña muy profundo o se despierta con facilidad.</li>
          <li>Continúa mojando la cama.</li>
          <li>Sensible a comidas con aditivos y productos químicos.</li>
        </h6>
      </div>
    </div>
  </div>
</div>

</body>
