body {
  background: #1e73b8; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #2330b8, #437dc2);
  background: -moz-linear-gradient(right, #2a54b8, #1b36c2);
  background: -o-linear-gradient(right, #2a54b8, #1b36c2);
  background: linear-gradient(to left, #2a54b8, #1b36c2);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('src/assets/fondos/fondoProfe1.jpeg');
  background-repeat: no-repeat;
  height: 90%;
  background-size: cover;
  background-attachment: fixed;

  font-family: 'Numans', sans-serif;
}

.opacity{
  opacity:0.9; /* Opacidad 60% */
}
.register{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  margin-top: 0%;
  padding: 0%;
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 30%;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 30%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 20% 20%;
  border-bottom-left-radius: 20% 20%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 25%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
