<app-menu-profesores></app-menu-profesores>

<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Nuevo Estudiante</h3>

        <form (ngSubmit)="onSubmit()">
          <div class="form-group" enctype="multipart/form-data">
            <div class="row">
              <div class="col-sm-5"><img [src]="imgURL" height="200" *ngIf="imgURL">
                <input #file type="file" accept='image/*' (change)="onFileChange($event)" #fileInput
                       accept=".jpeg,.jpg" (change)="preview(file.files)"/>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-6" align="right">
                <button type="submit" class="btn btn-warning">Guardar Imagen</button>
              </div>
            </div>

          </div>
        </form>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre" >
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Apellido</label>
              <input type="text" class="form-control" [(ngModel)]="apellido" name="apellido" >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Email</label>
              <input type="email" [(ngModel)]="email" name="email"  class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Nick</label>
              <input type="text" [(ngModel)]="nick" name="nick"  class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Cedula</label>
              <input type="number" [(ngModel)]="cedula" name="cedula"  class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Fecha Nacimiento</label>
              <input type="date"  [(ngModel)]="fecha_nacimiento" name="fecha_nacimiento"
                      class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Grado de Educacion Basica</label>
              <input type="number"  [(ngModel)]="grado" name="grado"
                     class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Unidad Educativa</label>
              <input type="text" [(ngModel)]="unidad_educativa" name="unidad_educativa"
                      class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Código Estudiante</label>
              <input class="form-control" [(ngModel)]="codigo_estudiante" name="codigo_estudiante" placeholder="{{codigo_estudiante}}">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <button type="submit" class="btn bg-warning" (click)="generarCodigo()"> Generar Codigo</button>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Telefono</label>
              <input type="number" class="form-control"  [(ngModel)]="telefono" name="telefono">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Contraseña</label>
              <input class="form-control"
                     [(ngModel)]="password" name="password"
                     type="password" value="usuario.password">

            </div>
          </div>
        </div>

        <button class="btn btn-warning" (click)="saveEtudiante()"> Guardar</button>

      </div>
    </div>
  </div>
</div>
