<app-menu-estudiantes></app-menu-estudiantes>
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6" align="center"><div class="jumbotron mt-3" align="center"> <a routerLink="/Tratamiento/Juegos/Ahorcado/1">
    <h3>El ahorcado</h3>
    <img src="/assets/imagenes/ahorcado.gif"></a>
  </div>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6" align="center"><div class="jumbotron mt-3" align="center"> <a routerLink="/Tratamiento/Juegos/Memoria">
    <h3>Juego de Memoria</h3>
    <img src="/assets/imagenes/memoria.jpg" width="300" height="300"></a>
  </div></div>
  <div class="col-sm-3"></div>
</div>


